@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

body {
    background-color: rgb(17, 29, 63);
    color: #fff;
}

.main-content,
.content-text {
    text-align: justify;
}

/* General */
.text-orange {
    color: #ffb71c;
}

.font-italic {
    font-style: italic!important;
}

.font-14 {
    font-size: 14px!important;
}

.rgc-bg {
    background-color: rgb(25, 35, 62)!important;
}

.text-center {
    text-align: center!important;
}

.text-justify {
    text-align: justify!important;
}

.small-lp {
    letter-spacing: 1.1px!important;
}

.btn-yellow {
    background: #0D1D41!important;
    border: 2px solid #0D1D41!important;
    color: #fff!important;
}

.mgr10 {
    margin-right: 10px;
}

.text-uppercase {
    text-transform: uppercase!important;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.pointer {
    cursor: pointer;
}

.buttonToTop {
    display: flex;
    background: rgb(250, 180, 40);
    width: 45px;
    height: 35px;
    text-align: center;
    border-radius: 4px;
    position: absolute;
    bottom: 70px;
    right: 30px;
    /* transition: background-color .3s, opacity .5s, visibility .5s; */
    /* opacity: 0; */
    /* visibility: hidden; */
    z-index: 1000;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;
    cursor: pointer;

}

/* .buttonToTop.show {
    display: flex!important;
    opacity: 0.9;
    visibility: visible;
} */

/* Title */
.full-title {
    /* background-color: #1a8ae5; */
    padding: 20px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    /* letter-spacing: 0.225em; */
    font-family: "Roboto";
}

.full-title-top {
    font-size: 16px;
    margin-bottom: 10px;
}

.full-title-bottom {
    font-size: 13px;
}

/* Special Title */
.special-title-container {
    text-align: center;
    /* padding: 20px; */
    padding-top: 25px;
}

.special-title {
    display: inline-block;
    border-bottom: 1px solid #FFB71B;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: 800;
    /* letter-spacing: 0.225em; */
    font-family: "Roboto";
}

/* Hero */
.section-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.14)), url("../img/rgc-hero.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* .section-hero:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
} */

.hero-logo {
    width: 100%;
    max-width: 80px;
    position: absolute;
    top: 10px;
    left: 10px;
    /* background: #0B1A38; */
}

.hero-logo img {
    width: 100%;
    max-width: 500px;
}

.section-hero .hero-title-container {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.section-hero .hero-main-title-container {
    font-size: clamp(22px, 3vw, 40px);
    font-weight: 600;
    color: #f0f0f0;
    /* text-shadow: 2px 2px 3px #49647b; */
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: "Roboto";
}

.section-hero .hero-subtitle {
    font-size: clamp(16px, 3vw, 28px);
}

.section-images img {
    display: block;
    width: 100%;
}

/* Main */
.section-giving-back {
    background-color: #fff;
    color: #304674;
    /* padding: 20px; */
}

.section-giving-back .social-block {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 20px;
}

.section-giving-back .social-block .top-social-icon {
    width: 100%;
    max-width: 30px;
    height: 30px;
}

.section-giving-back .content-holder {
    margin: 0 auto;
}

.content-holder {
    width: 90%;
    max-width: 940px;
    margin: 0 auto;
    padding: 25px 0;
}

.basic-holder {
    width: 90%;
    max-width: 940px;
    margin: 0 auto;
}

.main-subtitle {
    margin-bottom: 20px;
    text-align: center;
    font-family: "Roboto";
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

.lucky-draw-image img {
    width: 100%;
    /* max-width: 940px; */
    display: block;
    margin: auto;
}

.section-countdown {
    background-image: url("../img/sections/flower-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.div-block-10 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.section-countdown .bold-text.countdown.dark {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #0D1D41;
    font-size: clamp(20px, 3vw, 25px);
    margin-top: 0;
}

.bold-text.countdown.dark:last-child {
    font-size: 16px;
    margin-top: 20px;
}

.bold-text.countdown {
    color: #0D1D41;
    text-transform: none;
}

.bold-text {
    margin-top: 10px;
    margin-bottom: 32px;
    border-radius: 0px;
    color: #fff;
    /* font-size: 32px; */
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    /* text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); */
    white-space: normal;
}

.bold-text:last-child {
    margin-top: 32px;
    margin-bottom: 10px;
}

.countdown-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 500px;
    padding-bottom: 0px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: transparent;
}

.countdown-wrapper {
    overflow: auto;
    width: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -o-object-fit: fill;
    object-fit: fill;
    gap: 15px;
}

.countdown-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.countdown-item {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -o-object-fit: contain;
    object-fit: contain;
}

.text-block {
    color: rgb(17, 29, 63);
    font-size: 4.5em;
    line-height: 1;
}

.text-block {
    font-size: 3em;
    -o-object-fit: contain;
    object-fit: contain;
}

.timer-label {
    color: rgb(250, 180, 40);
}

.btn-link,
.btn-link:active,
.btn-link:focus,
.btn-link:hover {
    text-align: center;
    display: block;
    margin: 30px auto;
    color: #ffb71c;
    /* color: #ff8200; */
    text-decoration: none;
    border: 2px solid #ffb71c;
    /* border: 2px solid #ff8200; */
    padding: 10px;
    border-radius: 30px;
    width: 100%;
    max-width: 400px;
    text-transform: uppercase;
    font-weight: bold;
}

.vote-options {
    list-style: none;
    margin: 20px auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.vote-options li {
    margin-bottom: 8px;
}

.vote-options li a,
.vote-options li a:active,
.vote-options li a:hover,
.vote-options li a:focus {
    text-decoration: none;
}

.vote-options li img {
    width: 50px;
    transition: transform .5s ease-in-out;
    height: 70px;
    object-fit: cover;
    overflow: visible;
}

.vote-options li:hover img {
    transform: scale(1.2);
}

.explain-title {
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0;
    font-weight: bold;
    font-family: "Roboto";
}

.explain-box {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    /* overflow: auto; */
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-top: 40px;
}

.explain-box .item {
    /* background-color: #222A69; */
    border-radius: 20px;
    padding: 20px;
    /* width: 150px; */
    /* height: 150px; */
    /* overflow: hidden; */
    border-radius: 20px;
    border: 2px dotted rgb(250, 180, 40);
    position: relative;
}

.explain-box .item .img-box {
    text-align: center;
    margin: 0 auto;
    /* width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px dotted rgb(250, 180, 40); */
    text-align: center;
    margin: auto;
    width: 200px;
    height: 230px;
}

/* .explain-box .item .img-box img {
    height: 100%;
    width: 100%;
    transform: scale(2);
} */

/* .explain-box .item.step-2-img .img-box img {
    transform: scale(2.5);
} */

.explain-box .item .step-number {
    border-radius: 20px;
    background-color: #FFB71B;
    padding: 10px 15px;
    text-align: center;
    position: absolute;
    top: -15px;
    left: -15px;
    color: #0D1D41;
}

.explain-box .item.item-step-1 img {
    width: 180px;
    margin: auto;
}

.explain-box .item.item-step-2 img {
    transform: scale(1.05) translateY(25px);
}

.explain-box .item.item-step-3 img {
    transform: scale(1.05) translateY(25px);
}

.explain-box .feature-title {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 20px;
    font-family: "Roboto";
    font-weight: bold;
}

.explain-box .feature-content {
    text-align: center;
    font-size: 15px;
    padding: 20px 0;
    /* color: #c8c8c8; */
}

.explain-box .item.plus-sign {
    font-size: 40px;
    text-align: center;
    padding: 0;
    align-self: center;
}

.equal-sign {
    font-size: 40px;
    text-align: center;
    padding: 0;
    align-self: center;
}
/* ticket */
/* .section-ticket {
}

.section-ticket .content-holder {
    margin-bottom: 0;
} */

/* .section-ticket .btn-link {
    margin-bottom: 10px;
} */

.ticket-box {
    text-align: center;
    /* padding: 20px; */
    margin-bottom: 20px;
}

.ticket-box .ticket-img img {
    width: 150px;
}

.ticket-box .ticket-content {
    text-align: justify;
    padding: 20px 0;
}

/* Other Way */
.section-other-ways {
    /* background: linear-gradient(to bottom, #1c92d2 65%, #f2fcfe 100%); */
    background: #fff;
    color: #0D1D41;
}

.section-other-ways .special-title {
    /* letter-spacing: 1.2px; */
    text-align: center;
    font-family: "Roboto";
    /* padding-top: 30px; */
    border-bottom: 1px solid #FFB71B;
}

.section-other-ways .full-subtitle {
    font-size: 16px;
    padding: 25px 20px 0 20px;
    font-weight: 500;
    /* letter-spacing: 1.2px; */
    font-family: "Roboto";
    text-align: center;
    /* text-transform: uppercase; */
}

.section-double-impact .btn-link {
    margin-bottom: 0;
}

.section-donate-vote .btn-link {
    margin-bottom: 20px;
}

/* .section-linear-wrap {
    background-image: linear-gradient(to bottom, #09203f 0%, #537895 10%, #fff 30%, #000C40 32%, #076585 50%, #f2fcfe 60%, #000C40 62%, #076585 90%, #f2fcfe 100%);
} */
/* Founder story */
.section-founder-story {
    /* background-image: linear-gradient(to bottom, #09203f 0%, #537895 97%, #fff 100%); */
    background: #0D1D41;
    padding-bottom: 20px;
}

.founder-image {
    width: 100%;
    display: block;
}

/* Showcase */
/* .section-showcase { */
    /* background: linear-gradient(to bottom, #076585 0%, #fff 100%); */
    /* background: linear-gradient(to bottom, #000C40 0%, #537895 90%, #fff 100%); */
    /* background: linear-gradient(to bottom, #000C40 0%, #076585 97%, #f2fcfe 100%); */
    /* background: #fff; */
    /* color: #0D1D41; */
/* } */

.section-showcase .holder-top,
.section-showcase .holder-bottom,
.section-seeing .holder-top {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
    /* margin-bottom: 20px; */
    gap: 5%;
}

.section-showcase .holder-top .left,
.section-showcase .holder-bottom .right,
.section-seeing .holder-top .left {
    width: 40%;
    display: flex;
    align-items: center;
}

.section-showcase .holder-top .left img,
.section-showcase .holder-bottom .right img,
.section-seeing .holder-top .left img {
    width: 100%;
}

/* .section-showcase .holder-top .mid,
.section-showcase .holder-bottom .mid {
    width: 5%;
} */

.section-showcase .holder-top .right,
.section-showcase .holder-bottom .left,
.section-seeing .holder-top .right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* R4 */
.section-seeing {
    background: #fff;
    color: #0D1D41;
}

.section-seeing .holder-top {
    flex-direction: column;
}

.section-seeing .holder-top .left,
.section-seeing .holder-top .right {
    width: 100%;
}

.section-seeing .content-box{
    padding: 40px;
    background: #d8e1e8;
    color: #000;
    border-radius: 10px;
    font-style: italic;
}

/* .section-showcase .holder-bottom .right {
    order: 2;
} */

.section-struggle {
    background: #fff;
    color: #0D1D41;
    padding-bottom: 25px;
}

.section-never-give-up {
    background: #0D1D41;
    color: #fff;
    padding-bottom: 25px;
}

.section-never-give-up .content-holder {
    padding-top: 0;
}

.section-patient .special-title {
    /* letter-spacing: 0.2em; */
    font-family: "Roboto";
}

.patient-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/sections/niseko.jpeg");
    width: 100%;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding-bottom: 20px;        
}

/* TC */
.paragraph {
    overflow: auto;
    height: auto;
    margin-top: 19px;
    padding-top: 0px;
    /* font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; */
    font-size: 12px;
    font-weight: 400;
    text-align: justify;
}

.paragraph.tc {
    font-size: 12px;
    line-height: 24px;
}

/* .para-strong {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
} */

.section-bottom {
    background-color: #F2F5FF;
    border-top: 1px solid #777;
    position: relative;
}

.section-tc {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 30vh;
    margin-top: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    /* background-color: #FCFCFC; */
    color: #0d1d41;
    line-height: 30px;
    text-align: left;
    font-size: 14px;
    padding: 40px 0;
}

.section-tc .bold-text {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Roboto";
    text-transform: uppercase;
    font-size: 16px;
    color: #333;
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
    width: 90%;
}

.container-13 {
    overflow: auto;
    height: 260px;
}

/* Footer */
.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    /* background-color: #FCFCFC; */
    color: #000;
    text-align: center;
    border-top: 1px solid #eee;
}

.footer .w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
    width: 90%
}

.footer .w-container .rgc-logo-footer {
    width: 100%;
    max-width: 150px;
    margin-bottom: 20px;
}

.footer .footer-text {
    margin-top: 8px;
    font-family: "Roboto";
    color: rgb(25, 35, 62);
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer .div-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-bottom: 30px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
}

.footer .w-inline-block {
    max-width: 100%;
    display: inline-block;
}

.footer .image-6 {
    margin-right: 8px;
}

.footer .div-block-9 {
    height: auto;
}

.footer .rich-text-block-3 {
    line-height: 20px;
    text-align: left;
}

.w-richtext:before, .w-richtext:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

.w-richtext:after {
    clear: both;
}

.footer h5 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
}

.footer p {
    margin-top: 0px;
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 24px;
}

.footer .footer-link,
.footer .footer-link:active,
.footer .footer-link:hover,
.footer .footer-link:focus {
    text-decoration: none;
    color: #000;
    border-bottom: 1px dotted;
}

.footer .social-icon {
    font-size: 25px;
    color: rgb(25, 35, 62);
}

.footer .copyright-text {
    font-size: 12px;
}

.footer .footer-social-icon {
    width: 100%;
    max-width: 30px;
    height: 30px;
}

/* Topbar */
.topbar-container {
    padding: 10px 0;
    /* background: rgba(0, 0, 0, .1); */
    /* background: #120E16; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.topbar-holder {
    max-width: 1920px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    /* justify-content: space-between; */
    justify-content: flex-end;
    align-items: center;
}

.topbar-img-holder {
    width: 75px;
}

.topbar-holder .menu-holder {
    position: relative;
}

/* Floating Menu */
.up-button {
    /* position: relative; */
    /* background: #FFB71B; */
    color: #ffb71c;
    /* width: 50px;
    height: 50px; */
    text-align: center;
    border-radius: 50px;
    /* right: 10px;
    top: 5px; */
    transition: background 0.5s ease-in-out;
    /* box-shadow: 0px 1px 8px 0px #777373; */
    z-index: 10;
}

.up-button i{
  /* padding:15px; */
  font-size: 20px;
  cursor: pointer;
  color: #ffb71c;
}

body.menu-open .up-button i:before{
    content: '\f00d';
}

.menu {
    display: inline-block;
    position: absolute;
    display: none;
    color: #fff;
    text-align: center;
    right: 0px;
    top: 30px;
    transition: background 0.5s ease-in-out;
    z-index: 10;
    width: 200px;
    color: #0D1D41;
    background: #FFB71B;
    border-radius: 20px;
    box-shadow: 0px 1px 8px 0px #777373;
    overflow: hidden;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* border-radius: 100px;
    box-shadow: 0px 1px 8px 0px #777373; */
}

.menu ul li {
    padding: 17px;
    /* color: #0D1D41;
    background: #FFB71B; */
    cursor: pointer;
}

.menu ul li:hover {
    background: #0D1D41;
    color: #fff;
}

/* .menu ul li:first-child {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.menu ul li:last-child {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
} */


/* .active{
  display:block;
} */

/* r4 */
.section-struggle .special-title-container,
.section-never-give-up .special-title-container,
.section-seeing .special-title-container {
    padding-bottom: 25px;
}

.vote-options {
    list-style: none;
    margin: 20px auto;
    text-align: center;
    align-items: normal;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.vote-options li {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.vote-options li span {
    font-size: 10px;
}

.section-countdown .gb-hr {
    color: #0D1D41;
    width: 100%;
    margin: initial;
}

.section-countdown .first-hr {
    margin-bottom: 20px;
}

.section-countdown .last-hr {
    margin-top: 20px;
}


@media screen and (max-width: 1100px) {
    .explain-box {
        display: flex;
        flex-direction: column;
    }

    .explain-box .item {
        min-width: 450px;
        margin: auto;
    }
}

/* @media screen and (max-width: 1000px) {
    .explain-box .item.item-step-1 img {
        width: 140px;
        margin: auto;
    }

    .explain-box .item.item-step-2 img {
        transform: translateY(25px);
    }

    .explain-box .item.item-step-3 img {
        transform: translateY(25px);
    }
}

@media screen and (max-width: 950px) {
    .explain-box .item.item-step-1 img {
        width: 120px;
        margin: auto;
        transform: translateY(20px);
    }

    .explain-box .item.item-step-2 img {
        width: 150px;
        margin: auto;
        transform: translateY(25px);
    }

    .explain-box .item.item-step-3 img {
        width: 150px;
        margin: auto;
        transform: translateY(25px);
    }
} */

@media screen and (max-width: 800px) {
    /* .section-showcase .holder-top {
        display: block;
    }
    
    .section-showcase .holder-bottom {
        display: block;
    }
    
    .section-showcase .holder-top .left {
        display: inline;
        width: 100%;
        float: left;
        width: 125px;
        margin-right: 20px;
    }
    
    .section-showcase .holder-top .right {
        display: inline;
    }
    
    .section-showcase .holder-bottom .right {
        display: inline;
        width: 100%;
        float: right;
        width: 125px;
        margin-left: 20px;
    }
    
    .section-showcase .holder-bottom .left {
        display: inline;
    } */
    
    .section-showcase .holder-top .left,
    .section-showcase .holder-bottom .right,
    .section-seeing .holder-top .left {
        width: 100%;
    }    
    
    .section-showcase .holder-top .right,
    .section-showcase .holder-bottom .left,
    .section-seeing .holder-top .right {
        width: 100%;
    }
    
    .section-showcase .holder-bottom .right {
        order: 1;
    }
    
    .section-showcase .holder-bottom .left {
        order: 2;
    }
    
    /* .section-showcase .holder-top .left img, 
    .section-showcase .holder-bottom .right img,
    .section-seeing .holder-top .left img {
        margin-bottom: 20px;
    } */
    
    /* .section-showcase .holder-top .mid, .section-showcase .holder-bottom .mid {
        display: none;
    } */
    
    .section-tc {
        text-align: center;
    }

    .section-never-give-up .content-holder {
        padding-top: 25px;
    }

    .section-struggle, .section-never-give-up {
        padding-bottom: 0;
    }
}


@media screen and (max-width: 500px) {
    .hero-logo {
        width: 100%;
        max-width: 60px;
    }
    
    .hero-logo img {
        max-width: 100%;
    }

    .section-hero {
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .explain-box {
        display: flex;
        flex-direction: column;
    }

    .section-other-ways .full-title {
        text-align: center;
    }
    
    .section-other-ways .full-subtitle {
        text-align: left;
    }

    /* .section-founder-story {
        background-image: linear-gradient(to bottom, #09203f 0%, #537895 90%, #fff 100%);
    } */

    /* .section-struggle, .section-never-give-up {
        background-image: linear-gradient(to bottom, #000C40 0%, #076585 90%, #f2fcfe 100%);
    } */

    .buttonToTop {
        bottom: 20px;
        right: 25px;
    }

    /* .up-button {
        top: 5px;
        right: 5px;
    }

    .menu {
        right: 5px;
        top: 60px;
    } */

    /* R4 */
    .section-seeing .content-box{
        padding: 20px;
    }

    .explain-box .item {
        min-width: auto;
        margin: unset;
    }

    .topbar-img-holder {
        width: 65px;
    }
}




/* Slick Banner */
.section-banner, .section-banner img {
    width: 100%;
    /* margin: 0 auto; */
    /* background: #1c1821; */
    position: relative;
    /* margin-bottom: 20px; */
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:after, .slick-track:before {
    display: table;
    content: '';
}

.slick-slide {
    display: block;
    float: left;
    height: 100%;
    min-height: 1px;
}

.slick-slide img {
    display: block;
    /* height: 600px; */
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-dots {
    bottom: 0px;
    width: auto;
    right: 5px;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots, .slick-next, .slick-prev {
    position: absolute;
    display: block;
    padding: 0;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li {
    margin: 0 -2px;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: #cacaca;
    border: 0;
    outline: 0;
    background: 0 0;
}

.slick-dots li button:before {
    font-size: 35px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .5;
    color: #fff;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #fff;
}